<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Crear Premio</h1>
<form class="col-sm-12">
    <div class="col-sm-12">
        <label for="nombre">Nombre</label>
        <input class="form-control" type="text" ng-model="prizeData.name"><p></p>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-6 no-padding">
            <label for="descripcion">Descripcion</label>
            <textarea  class="form-control" type="text" ng-model="prizeData.description" cols="15" rows="10"></textarea><p></p>
        </div>
        <div class="col-sm-6">
            <label class="col-sm-12 no-padding" for="singleSelect">Seleccione color de trofeo</label>
            <div class="col-sm-12 no-padding" ng-repeat="color in colors" style="padding: 5px;">
                <input class = "col-sm-1" type="radio"  ng-model="prizeData.color" ng-value="color" name="color">
                <span class = "col-sm-11 no-padding" style="background-color: {{color}}; color:white;height:20px"></span>
            </div>

            <span style="padding-left: 15px;"><strong>Seleccione trofeo</strong></span><p></p>
            <ul class="col-sm-12 list-inline" style="padding-left: 15px;">
                <li ng-repeat="trophy in trophies" class="col-sm-2 no-padding">
                    <input class="col-sm-6" type="radio" ng-model="prizeData.trophy" ng-value="trophy" name="trophy" style="padding-left: 10px;">
                    <span class="{{trophy}} col-sm-6" style="padding-left: 5px; font-size: x-large;"></span>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
    <input class="form-control " type="submit" ng-click="prizeForm(prizeData)" >
</form>
