<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <div class="col-md-5 col-md-offset-4">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="changePasswordCtrl.closeAlert($index)">{{alert.msg}}</alert>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change password</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="upperCaseError">
                        <div class="alert alert-danger">Your password should include an uppercase letter!</div>
                    </div>
                    <div ng-if="numError">
                        <div class="alert alert-danger">Your password should include a number!</div>
                    </div>
                    <div ng-messages="changePassform.$error" ng-show="(changePassform.$error.required || changePassform.confirm.$error || changePassform.$error.minlength)">  
                        <div ng-message="required">
                            <alert type="danger" close="">
                                Please, Fill the required fields!
                            </alert>
                        </div>

                        <div ng-message="minlength">
                            <alert type="danger" close="">
                                Your password must be 6 and 10 characters long!
                            </alert>
                        </div>
                        <div ng-message="pattern">
                            <alert type="danger" close="">
                                Passwords must be equals !!
                            </alert>
                        </div>
                    </div>
                    <form novalidate name="changePassform" accept-charset="UTF-8" role="form" ng-submit="changePassform.$valid && changePassword(password)">
                        <fieldset>
                            <div class="form-group" ng-class="{'has-success': changePassform.new.$valid && changePassform.new.$dirty, 'has-error': changePassform.new.$invalid && changePassform.$submitted }">
                                <input id="password-input" class="form-control" minlength="6" required ng-model="password.new" placeholder="New Password" name="pass_new" type="password" >
                            </div>



                            <div class="form-group" ng-class="{'has-success': changePassform.confirm.$valid && changePassform.confirm.$dirty, 'has-error':  changePassform.confirm.$invalid && changePassform.$submitted }">
                                <input id="comfirm-password-input" class="form-control" minlength="6" required ng-model="password.confirm" ng-pattern="{{password.new}}" placeholder="Confirm Password" name="pass_conf" type="password" >
                            </div>
                        </fieldset>

                        <input id="log-in-btn" class="btn btn-lg btn-success btn-block"  type="submit" value="Save Changes">

                    </form>
                    <div class="spinner text-center" ng-show="loading">
                        <img src="http://www.lectulandia.com/wp-content/themes/ubook/images/spinner.gif" alt="Loading" style="width:48px;height:48px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
