<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}} </alert>
<div class="col-sm-12">
    <ul class="pager">
        <li class="previous"><a href="#/artworkGallery"><span aria-hidden="true">&larr;</span> Regresar a galeria</a></li>
    </ul>
    <h1>{{artwork.name}} - {{artwork.artist.name}} <span ng-repeat="prize in artwork.prizes" class="{{prize.trophy}}" style="color : {{prize.color}}" title="{{prize.description}}"></span></h1>
    <h4>
        <span ng-repeat="cat in artwork.category"><span ng-show="$index !== 0">, </span>{{cat.name}}</span>
    </h4>
</div>
<div class="col-sm-12 no-padding" style="height:400px;">
    <div class="col-md-4 no-padding">
        <div id="carousel" class="col-sm-10 col-sm-offset-1 carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li ng-repeat="art in artwork.images" data-target="#carousel" data-slide-to="{{$index + 1}}"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active" role="presentation">
                    <img class="img-responsive" ng-src="{{artwork.image}}" alt="image">          
                </div>
                <div ng-repeat="art in artwork.images track by art" class="item">   
                    <img  class="img-responsive" ng-src="{{art}}" alt="First slide">    
                </div>
            </div>
            <a class="left carousel-control" href="#carousel" role="button" ng-non-bindable data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" ng-non-bindable data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6 well">
        <ul class="list-unstyled description">
            <li class="description-item"><h6>Descripción</h6><span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span></li>
            <li class="description-item"><h6>Precio</h6><span>${{artwork.price}}</span></li>
            <li class="description-item"><h6>Dimensiones</h6><span>{{artwork.width}} cm X {{artwork.height}} cm</span></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h4>
            <i class="glyphicon glyphicon-eye-open" ng-if="!artwork.isInWishlist"></i> 
            <i class="glyphicon glyphicon-eye-close" ng-if="artwork.isInWishlist"></i>
            Lista de deseos
        </h4>
        <button type="submit" class="btn btn-default" ng-click='addToWishlist(artwork)' ng-if="!artwork.isInWishlist">Agregar</button>
        <button type="submit" class="btn btn-default" ng-click='removeWishlist(artwork)' ng-if="artwork.isInWishlist">Remover</button>
        <h4><i class="glyphicon glyphicon-shopping-cart"></i> Carrito</h4>
        <input type="number" min="1" class="form-control" id="quantity" ng-model="quantity" placeholder="# obras a pedir">
        <button type="submit" class="btn btn-default" ng-disabled="cartAdded" ng-click="addToCart()">Agregar</button> 
        <br/>
        <br/>
        <div>
            <h4>Calificación promedio:</h4>
            <div>
                <h2>{{getArtworkQualificationsMean()}}</h2>
                <angular-star-rating max="maxValue" value='getArtworkQualificationsMean()' hover='false'
                                     is-readonly='true'></angular-star-rating>
            </div>
        </div>
        <br/>
        <div ng-show="isArtworkNotQualificated()">       
            <p>Califica la obra:</p>
            <div>
                <angular-star-rating max="maxValue" value='ratingValue' hover='true'
                                     is-readonly='false' ></angular-star-rating>
            </div>
            <button type="submit" id="cal"  class="btn btn-default" ng-click="calificar()">Calificar</button>        
        </div>
        
    </div>
 
</div>

<div class="col-md-12">
    <section class="comments">
        <h3>Comentarios</h3>
        <ul class="list-unstyled">
            <li ng-repeat="comment in comments | startFromC:currentPageC*pageSizeC | limitTo:pageSizeC">
                <span class="comment-name">{{comment.name}}</span>
                <div class="comment-content">{{comment.comment}}</div>
            </li>
            <h6 ng-show="comments.length === 0">Esta obra no tiene comentarios</h6>
        </ul>
        <div style="margin: 0 auto;display: table;" ng-if="comments.length > 0">
            <button ng-disabled="currentPageC == 0" ng-click="decreasePage()" class="btn btn-default">
                Previous
            </button>
            {{currentPageC+1}} de {{numberOfPages()}}
            <button ng-disabled="currentPageC >= comments.length/pageSizeC - 1" ng-click="increasePage()" class="btn btn-default">
                Next
            </button>
        </div>
        <hr>
        <!-- Comment Form-->
        <div class="comment-form-container">
            <h3>Comentar</h3>
            <form id="comment-form">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input type="text" class="form-control span4" id="prependedInput" ng-model="comment.email" placeholder="Email Address" ng-required="true">
                <textarea class="form-control span4" id="comment" ng-model="comment.description" ng-required="true"></textarea>
                <button type="submit" id="save"  class="btn btn-default" ng-click="submitComment(comment)">Enviar</button>
            </form>

        </div>
    </section>
</div>
<div ui-view="qualificationDialogView" autoscroll="false"></div>