<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div ><h1>{{artName}}</h1></div>
        <div class="caption row">
            <div class='col-md-4'>
                <div class="well " ><div align="center"><img src="{{artImage}}"  style=" height: 50%; width: 70% " /></div></div>
                <a ui-sref="qualification"  target="_blank"><p>Calificar</p></a>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" ng-model="comment.email">
                    </div>
                    <div class="form-group">
                        <label for="comment">comment here:</label>
                        <input type="text" class="form-control" id="comment" ng-model="comment.description">
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="submitComment(comment)">Submit</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="caption row">

            <div class="col-md-12" style="overflow-y: scroll; padding: 5%; height: 200px;">
                <ul class="unstyled">
                    <li ng-repeat="comment in comments">
                        {{comment.comment}} - {{comment.name}}
                    </li> 
                </ul>


            </div>
        </div>
        <div ui-view="qualificationDialogView" autoscroll="false"></div>
    </body>
</html>
