<!DOCTYPE html>

<h1 class="showcase-title" ui-sref="login">Galería</h1>
<div class="list">            
    <div ng-if="true" class="col-md-2 well" >
     <div class="col-sm-12 no-padding" ng-controller="roleCtrl">
            <h4 class="col-sm-10">Categorías</h4>
            <h4 class="col-sm-2 no-padding"><a ng-click="filtrar('')"><i class="glyphicon glyphicon-repeat"></i></a></h4>
        </div>
        <div style="display:inline-flex; margin-bottom:15px;">
            <input type="text" class="col-md-8 form-control" ng-model="artistInput">
            <button class="col-md-4 btn btn-default" ng-click="filtrarPorArtista(artistInput)">Filtrar</button>
        </div>
        <div class="list-group">
            <button ng-repeat="category in categorys" ng-click="filtrar(category.id)" type="button" class="list-group-item">{{category.name}}</button>
        </div>      
    </div>
    <div class="col-md-10 well" >
         <ul class="col-sm-12 list-unstyled">
            <li class="col-sm-4 no-padding" ng-repeat="artwork in records" style="position:relative">
                <div class="col-sm-offset-2 col-sm-8 no-padding artwork">                
                        <img class="img-responsive" ng-src="{{artwork.image}}" alt="{{artwork.name}}" ui-sref="login">
                       
                </div>
            </li>
        </ul>
    </div>
</div> 