<!DOCTYPE html>
<div class="list">            
    <div ng-if="true" class="col-md-2 well" >
        <h4>Categorías</h4>
        <div class="row" style="display:inline-flex">
            <input type="text" class="col-md-8 form-control" ng-model="artistInput">
            <button class="col-md-4 btn-default" ng-click="filtrarPorArtista(artistInput)">Filtrar</button>
        </div>
        <div class="row">
            <span style="cursor: pointer" class="glyphicon glyphicon-repeat" ng-click="filtrar('')"></span>
            <ul style="list-style:none">
                <li ng-repeat="category in categorys"><a ng-click="filtrar(category.id)" style="cursor: pointer">{{category.name}}</a></li>
            </ul>
        </div>       
    </div>
    <div class="col-md-10">
        <div ng-repeat="artwork in records">
            <div style="box-shadow: 2px 2px 5px gray; border-radius: 5px;margin: 5px" class="col-md-4 col-sm-6 col-lg-3 well">
                <div class="col-md-12">
                    <div class="img-thumbnail" >
                        <a ui-sref="comment({artworkId:artwork.id})"  target="_blank"><img style="width: 250px;height: 250px" class="img-responsive" ng-src="{{artwork.image}}"></a>
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Name: </strong> {{artwork.name}}</p>
                    <p><strong>Price: </strong> {{artwork.price| currency}}</p>              
                    <p><strong>Width: </strong> {{artwork.width}}cm</p>
                    <p><strong>Height: </strong> {{artwork.height}}cm</p>    
                    <p><strong>Artista: </strong><a ui-sref="artistDetail({artistId:artwork.artist.id})" >{{ artwork.artist.name }}</a></p>
                </div>
                <div ng-if="isArtworkNotQualificated(artwork.id)">                    
                    <a ui-sref="qualificationNew({artworkId:artwork.id})" ><p>Calificar</p></a>
                </div>
                <div>
                    <p><strong>Calificaciones</strong></p>
                    <ul style="list-style:none">                
                        <li ng-repeat="qualification in getArtworkQualifications(artwork.id)" >{{qualification.userClient}} : {{qualification.qualification}}</li>
                    </ul>
                </div>
            </div>
        </div>            
    </div>
</div> 
