<!DOCTYPE html>


<ul class="nav nav-tabs nav-justified" role="tablist" >
 <li role="presentation" class="active" ><a href="#ultimas" role="tab" data-toggle="tab" style="padding:0"><button class="col-sm-6 btn  btn-lg showcase-title" ng-click="galView='latest'">Ultimas obras</button><button href="#premiadas" class="col-sm-6 btn btn-lg showcase-title" ng-click="galView='rewarded'">Obras Premiadas</button></a></li>
</ul>

<div class="tab-content" ng-if="galView=='rewarded'" style="padding-bottom: 2%">
    <div role="tabpanel" class="tab-pane active" id="premiadas" >
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
                <li data-target="#carousel1" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div ng-if="artwork.prizes.length>0" ng-repeat="artwork in records" class="item" ng-class="{'active':$index===0}">
                 
                    <a  ui-sref="comment({artworkId:artwork.id})">
                        <img  class="img-responsive" ng-src="{{artwork.image}}" alt="First slide">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel1" role="button" ng-non-bindable data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel1" role="button" ng-non-bindable data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="tab-content" ng-if="galView=='latest'">
 <div role="tabpanel" class="tab-pane active" id="ultimas" >
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div ng-repeat="artwork in latest" class="item" ng-class="{'active':$index===0}">
                    <a ui-sref="comment({artworkId:artwork.id})">
                        <img style="height:100%" class="img-responsive" ng-src="{{artwork.image}}" alt="First slide">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel" role="button" ng-non-bindable data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" ng-non-bindable data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<h1 class="showcase-title">Galería</h1>
<div class="list">            
    <div ng-if="true" class="col-md-2 well" >
     <div class="col-sm-12 no-padding" ng-controller="roleCtrl">
            <h4 class="col-sm-10">Categorías</h4>
            <h4 class="col-sm-2 no-padding"><a ng-click="filtrar('')"><i class="glyphicon glyphicon-repeat"></i></a></h4>
        </div>
        <div style="display:inline-flex; margin-bottom:15px;">
            <input type="text" class="col-md-8 form-control" ng-model="artistInput">
            <button class="col-md-4 btn btn-default" ng-click="filtrarPorArtista(artistInput)">Filtrar</button>
        </div>
        <div class="list-group">
            <button ng-repeat="category in categorys" ng-click="filtrar(category.id)" type="button" class="list-group-item">{{category.name}}</button>
        </div>      
    </div>
  
    <div class="col-md-10 well" >
         <ul class="col-sm-12 list-unstyled">
            <li class="col-sm-4 no-padding" ng-repeat="artwork in records" style="position:relative">
                <div class="col-sm-offset-2 col-sm-8 no-padding artwork">
                   <a ui-sref="comment({artworkId:artwork.id})"> 
                        <img class="img-responsive" ng-src="{{artwork.image}}" alt="{{artwork.name}}">
                           </a>   
                    <div class="col-sm-12 detail no-padding">
                        <span  class="col-sm-8 no-padding"><a ui-sref="comment({artworkId:artwork.id})">{{artwork.name}}</a></span>
                        <div class="col-sm-4 icons no-padding">
                            <a href="{{artwork.image}}" class="col-sm-3 no-padding"><i class="glyphicon glyphicon-search"></i></a>
                            <div  class="col-sm-3 no-padding">
                                <a ng-click='addToWishlist(artwork)' class="col-sm-6 no-padding" style="cursor: pointer;" ng-if="!artwork.isInWishlist"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a ng-click='removeWishlist(artwork)' class="col-sm-6 no-padding" style="cursor: pointer;" ng-if="artwork.isInWishlist"><i class="glyphicon glyphicon-eye-close"></i></a>
                            </div>
                            <a  ng-click='addToCart(artwork)' class="col-sm-3 no-padding"><i class="glyphicon glyphicon-shopping-cart"></i></a>     
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> 